<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="/viewtrainerprofile">View Trainer Profile</a> </p>
<p><a href="/viewallocation">View Allocation</a> </p>
<p><a href="/addworkout">Add Workouts</a> </p>
<p><a href="/viewworkout">View Workouts</a> </p>
<p><a href="/uploadmealplans">Upload Meal Plans</a> </p>
<p><a href="/viewmealplans">View Meal Plans</a> </p>
{#<p><a href="/addtips">Add Tips</a> </p>#}
{#<p><a href="/viewtips">View Tips</a> </p>#}
<p><a href="/viewrating">View Ratings</a> </p>
</body>
</html>
