{% extends 'admin/adminindex.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{#<form id="form1" name="form1" method="post" action="/editbatch_post/{{ data.id }}"><table width="200" class="table border-primary border-5 w-100 mx-auto">#}
{#    {% csrf_token %}#}
{#  <tr>#}
{#    <th scope="row">batchname</th>#}
{#    <td><label for="textfield"></label>#}
{#      <input type="text" class="form-control" name="textfield" id="textfield"  value="{{ data.Batchname }}"/></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">from time</th>#}
{#    <td><label for="textfield2"></label>#}
{#      <input type="text" class="form-control" name="textfield2" id="textfield2"  value="{{ data.Fromtime }}" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">to time</th>#}
{#    <td><label for="textfield3"></label>#}
{#      <input type="text" class="form-control" name="textfield3" id="textfield3"  value="{{ data.Totime }}"  /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th colspan="2" scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="button" id="button" value="Edit" class="btn btn-primary"/>#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="button2" id="button2" value="Cancel" class="btn btn-outline-dark"/></th>#}
{#    </tr>#}
{#</table>#}
{##}
{#</form>#}


<div class="mb-5 text-center">
{#            <h5 class="text-primary text-uppercase">Contact Us</h5>#}
            <h1 class="display-3 text-uppercase mb-0">EDIT BATCH</h1>
        </div>
    <div class="row g-0">
            <div class="col-lg-6 mx-auto">
                <div class="bg-dark p-5">
                    <form action="/editbatch_post/{{ data.id }}" method="post">
                       {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="textfield" class="text-primary text-uppercase pb-3">&nbsp; Batch Name</label>
                                <input  type="text" class="form-control bg-light border-0 px-4" name="textfield" style="height: 55px;"  value="{{ data.Batchname }}">
                            </div>
                            <div class="col-12">
                                <label for="textfield2" class="text-primary text-uppercase pb-3">&nbsp; From Time</label>
                                <input  type="time" class="form-control bg-light border-0 px-4" name="textfield2" style="height: 55px;"  value="{{ data.Fromtime }}">
                            </div>
                            <div class="col-12">
                                <label for="textfield3" class="text-primary text-uppercase pb-3">&nbsp; To Time</label>
                                <input  type="time" class="form-control bg-light border-0 px-4" name="textfield3" style="height: 55px;"   value="{{ data.Totime }}">
                            </div>
{#                            <div class="col-12">#}
{#                                <label for="textfield4" class="text-primary text-uppercase pb-3">&nbsp; place</label>#}
{#                                <input required type="text" class="form-control bg-light border-0 px-4" name="textfield4" placeholder="place" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <label for="textfield5" class="text-primary text-uppercase pb-3">&nbsp; post</label>#}
{#                                <input required type="text" class="form-control bg-light border-0 px-4" name="textfield5" placeholder="post" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <label for="textfield6" class="text-primary text-uppercase pb-3">&nbsp; pin</label>#}
{#                                <input required type="text" class="form-control bg-light border-0 px-4" name="textfield6" placeholder="pin" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <label for="textfield7" class="text-primary text-uppercase pb-3">&nbsp; lattitude</label>#}
{#                                <input required type="text" class="form-control bg-light border-0 px-4" name="textfield7" placeholder="lattitude" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <label for="textfield8" class="text-primary text-uppercase pb-3">&nbsp; longitude</label>#}
{#                                <input required type="text" class="form-control bg-light border-0 px-4" name="textfield8" placeholder="longitude" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-6">#}
{#                                <input type="email" class="form-control bg-light border-0 px-4" placeholder="Password" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <label for="textfield" class="text-primary text-uppercase pb-3">&nbsp; PASSWORD</label>#}
{#                                <input type="password" class="form-control bg-light border-0 px-4" name="textfield2" placeholder="password" style="height: 55px;">#}
{#                            </div>#}
{#                            <div class="col-12">#}
{#                                <textarea class="form-control bg-light border-0 px-4 py-3" rows="4" placeholder="Message"></textarea>#}
{#                            </div>#}
{#     <tr>#}
{#            <td><div id="gmap"></div></td>#}
{#     </tr>#}

                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3 " type="submit">Submit</button>
                                <button class="btn btn-outline-primary w-100 py-3" style="margin-top: 1em" type="reset">reset</button>
{#                                <a href="/registration" style="margin-top: 20px" class="btn btn-outline-primary w-100 py-3" type="submit">SIGN UP</a>#}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>




</body>
</html>
{% endblock %}
