<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Home</title>
</head>
<body>

<p><a href="/viewshopprofile">view profile</a> </p>
<p><a href="/addproduct">add product</a> </p>
<p><a href="/viewproducts">view products</a> </p>
<p><a href="/orderrequest">view order</a> </p>
<p><a href="/viewapprovedorder">view approved order</a> </p>
<p><a href="/viewpayment">view payment</a> </p>




{#<p><a href="/addtrainer">Add Trainer</a> </p>#}
{#<p><a href="/viewtrainer">View Trainer</a> </p>#}
{#<p><a href="/addbatch">Add Batch</a> </p>#}
{#<p><a href="/viewbatch">View Batch</a> </p>#}
{#<p><a href="/uploadmealplans">Upload Meal Plans</a> </p>#}
{#<p><a href="/viewmealplans">View Meal Plans</a> </p>#}
{#<p><a href="/allocatetrainer">Allocate trainer</a> </p>#}
{#<p><a href="/viewshops">View Shop</a> </p>#}
{#<p><a href="/approvedshop">View Approved Shops</a> </p>#}
{#<p><a href="/viewrequestfromuser">View Request from User</a> </p>#}
{#<p><a href="/approvedrequest">View Approved Request</a> </p>#}
{#<p><a href="/viewfeedback">View Feedback</a> </p>#}
{#<p><a href="/rating">View Rating</a> </p>#}
{#<p><a href="/complaint">View Complaint and Send Reply</a> </p>#}
{#<p><a href="/changepassword">Change Password</a> </p>#}
</body>
</html>